

    

    <!DOCTYPE html>
    <html lang="{{ site.lang | default: "en-US" }}">
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <base target="_parent">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
      </head>
      <body>
        <h1>Overview breadcrumb menus</h1>

    <ul>
        {% assign current_page = page %}
        {% assign sorted_pages = site.pages | sort: "title" %}
        {{ sorted_pages }}
        {% for page in sorted_pages %}
        {% if page.title != null and page.title != current_page.title %}
        <li>
            <a href="{{page.url}}">
                {{page.title}}
            </a>
        </li> 
        {% endif %} 
        {% endfor %}

    </ul>
      </body>
    </html>
    